
body{
    background: #000;
    margin: 0;
}

.text,.main-content,.footer{
    font-size: 13px;
    font-family: cursive;
    text-shadow: 5px 3px 3px;
}

.background,.main-content{
    background: #000;
    color:cornflowerblue;
}
.column,.main-content{
    display:flex;
    flex-direction: column;
}


.main-content{

    width: 80%;
    margin: 25px 10%;
}



/* //foooter   */
.footer{
    width: 90%;
    margin-left: 5%;
    margin-top: 300px;
    color: darkmagenta;
}
